html{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
nav{
    height: 150px;
}
#logo{
    display: block;
    margin: auto;
}
#madeBy{
    float: right;
}
main{
    padding: 50px;
    background-size: cover;
    background-image: url("../images/bw.gif");
}
footer{
    height: 50px;
}
#map{
    margin: auto;
    height: 500px;
    width: 60%;
    opacity: 0.8;
    border-radius: 500px;
}
