html{
    padding: 0;
    margin: 0;
}

body{
    background-image: url('../images/bw.gif');
    background-color: black;
    background-size: cover;
}

#earth_div{
    width: 100%;
    height:100%;
}